<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Attendance Management System</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jquery/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jqueryUI/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Attendance/Report.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/bootstrap/bootstrap-datepicker.js")"></script>
    <link href="@Url.Content("~/Content/CommonStyles.css")" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="header"><h3>Attendance Management System</h3></div>
@RenderBody()
<div class="footer"></div>
</body>
</html>
