<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Attendance Management System</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jqueryUI/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jqueryUI/jquery-ui-1.8.18.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Attendance/Report.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jquery/jquery.table2excel.js")"></script>

    <link href="@Url.Content("~/Content/Styles/CommonStyles.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Styles/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/datepicker.css")" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
    <h3 align="left">Attendance Management System</h3>
</div>
    
    @RenderBody()
<div class="footer"><span>Copyright (C) All rights reserved 2015</span></div>
</body>
</html>
