@using Microsoft.AspNet.Identity
@{
    var isAdmin = User.IsInRole("Admin");
    var isStaff = User.IsInRole("Staff");
    var isStudent = User.IsInRole("Student");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edukriti - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Below Line added by Shailesh-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.table2excel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Attendance/Report.js")"></script>

    <link href="@Url.Content("~/Content/Styles/CommonStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/datepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(".", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (isAdmin || isStaff)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Reports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Student", "Student", "Report")</li>
                                    <li>@Html.ActionLink("Staff", "Staff", "Report")</li>
                                </ul>
                            </li>
                        }
                        else if (isStudent)
                        {
                            <li>@Html.ActionLink("Reports", "Student", "Report")</li>
                        }
                        if (isAdmin)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Manage
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Students", "Index", "Students")</li>
                                    <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
                                </ul>
                            </li>
                        }
                        if (isAdmin || isStaff)
                            <li>@Html.ActionLink("Send SMS", "Index", "Notification")</li>
                    }
                    <li>@Html.ActionLink("Contact Us", "Contact", "Welcome")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.MvcSiteMap().SiteMapPath()
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Edukriti. All rights reserved.</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
