@model TestMVC001.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentPrimaryPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPrimaryPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentHomePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentHomePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
