@model TestMVC001.Models.GroupsModel
@using System.Configuration
@{
    ViewBag.Title = "Notification";
    var groups = @Html.Raw(Json.Encode(@Model.Groups));
}
@*<link href="@Url.Content("~/Content/Styles/SMSNotification.css")" rel="stylesheet" type="text/css"/>*@
<script type="text/javascript" src="@Url.Content("~/Scripts/Attendance/Notification.js")"></script>
<script type="text/javascript">
    $(document).ready("Notification.renderJsonTree();");
</script>
    <br />
<br />
<input type="hidden" id="groups" name="groups" value=@groups />
    <div>
        <div class="leftPanel tree pull-left shadowBox">
            <input type="hidden" id="gettreeurl" name="gettreeurl" value="@Url.Action("gettree", "Notification")" />
            <div class="treeContainer">
                
                <ul class="gridData" style="display:none;">

                </ul>
            </div>
        </div>
        <div class="rightPanel notificationContent pull-right shadowBox">

            <div class="notificationResponse"></div>
            <form id="notificationForm" class="form-horizontal" role="form">
                <div class="form-group group-pills">
                    <div>
                        <label class="control-label text-left group-action hide">Selected groups:</label>
                    </div>
                    <div class="plist col-md-9"></div>
                </div>
                <div class="form-group">
                    <div class="control-group email-groups-container m-b-none">
                        <button type="button" id="btnDisplayPhoneNumbers" class="btn btn-dark" data-url="@Url.Action("getphonenumbers", "Notification")">Get phone numbers</button>
                        <span class="form-note">Maximum of 100 phone numbers separated by semicolons</span>
                    </div>
                    <div class="col-md-12">
                        <textarea id="phoneNumbers" class="form-control" rows="3" cols="75" name="phoneNumber" placeholder="Click on get phone numbers"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label text-left" for="phoneNumber">Additional mobile numbers</label>
                    <div class="col-md-12">
                        <textarea id="additionalPhoneNumbers" class="form-control" rows="2" cols="75" name="phoneNumber" placeholder="Enter phone numbers separated by comma"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label text-left" for="message">Message</label>
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" cols="75" name="message"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-12">
                        <input type="submit" value="Submit" id="submit" class="btn btn-success" data-url="@Url.Action("SendNotification", "Notification")">
                        <input type="reset" value="Reset" id="reset" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
</div>