@model TestMVC001.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>About Us</h2>
<div class="row">
    <div class="col-md-8">
        <p>EDUKRITI system is designed to automate the attendance process through RF tracking mechanism.</p>

        <p>
            We at EDUKRITI are always focused on providing optimal attendance solutions to our customers with
            seamless integration to the emerging RFID infrastructure in market.
        </p>
        <p>Features -</p>
        <ul>
            <li>Track students through SMS notifications</li>
            <li>Manage students/staff attendance</li>
            <li>Automated reports</li>
        </ul>
        <p>Advantages -</p>
        <ul>
            <li>Reduced manual intervention</li>
            <li>More safety for students</li>
            <li>Improve parent school relationship</li>
        </ul>
        <p>
            RFID-In-School [RIS] is a RFID card technology and solutions company serving educational institutions, students and parents. Our mission is to make it simple and inexpensive for any institute to have a state-of-the-art IDcard program - without proprietary software, local systems or dedicated staff.
        </p>
        <p>
            We provide the only turn-key card&nbsp; management solution, delivering superior capability, service and performance for less than half the cost of locally-hosted card systems and management models.
        </p>
    </div>
    <div class="col-md-4 login-box">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
